html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
}

.formbox {
  width: 380px;
  height: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 40px 24px 40px 40px;
}
.formcontainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 100%;
  justify-content: space-between;
}

.formsection {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  .formtext {
    border: 2px solid black;
    padding-bottom: 32px;
  }
  .formfield {
    border: 2px solid black;
    text-align: center;
    margin: 12px 0 12px 0;
    padding: 12px 0 12px 0;
  }
  .formforgot {
    text-align: center;
    border: 2px solid black;
    margin-bottom: 12px;
  }
  .forminquiries {
    text-align: left;
    border: 2px solid black;
    margin-bottom: 12px;
  }
  .formarrow {
    text-align: left;
    border: 2px solid black;
    margin-bottom: 12px;
  }
  .formsubtext {
    border: 2px solid black;
    padding-bottom: 12px;
  }
}

.rightcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  border: 2px solid black;
}
.header {
  display: flex;
  height: 100px;
  border: 2px solid black;
}
.headercontainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  .headeritems {
    border: 2px solid black;
    margin-right: 32px;
    width: auto;
    height: min-content;
  }
}

.main {
  display: flex;
  height: 700px;
  border: 2px solid black;
  justify-content: center;
}
.imageholder {
  display: flex;
  border: 2px solid black;
  width: 585px;
  align-items: center;
  .image {
    border: 2px solid black;
    height: 484px;
    width: 100%;
  }
}

.footer {
  flex-grow: 1;
  border: 2px solid black;
  padding: 40px;
}

.footercontainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .footerleft {
    display: flex;
    border: 2px solid black;
  }

  .footerright {
    display: flex;
    border: 2px solid black;
  }
}

.footeritem {
  width: auto;
  margin-left: 16px;
  margin-right: 16px;
  height: min-content;
  border: 2px solid black;
}
